@media screen and (max-width: 768px) {

    body {
        width: 95%;        
    }

    main {
     display: inline;
    }

    .input-text {
        width: 100%;
    }

    .mensagem {
        background: none;
        width: 100%;
        margin: auto;
        background-repeat: no-repeat;
    }

    main>section:first-child {
        width: 90%;
    }

    /* CSS da caixa de resultado */
    main>section:last-child {
        margin: auto;
        height: auto;
        width: auto;        
    } 
   
   main>section:last-child>textare {
       height: 10vh;
   }


   /* CSS dos botoes */
   .encriptar, .desencriptar, .copiar {
       display: block;
       width: 100%;
       height: 5vh;
   }

   .encriptar, .desencriptar {       
    margin: 1vh;
   }

   button {
       font-size: medium;    
   }

   .botoes {
    all: unset;
    padding: 20px;
   }

   /* CSS do rodapé */
   footer {
       margin-top: 10px;
   }

}

@media screen and (max-width: 375px) {
    * {
        font-size: 20px;
        text-align: left;
    }

    header,header>img {
        height: 3vh;
        margin: 0.5vh;
        margin-bottom: 5vh;
    }

    div.informacao>h6 {        
        font-size: 8px;
        margin-left: -35px;
        padding: 0px;
        width: 0px;
        height: 0px;
    }

    div.informacao>img {
        padding: auto;
        margin: 0px;
        padding: 0px;
    }

    body {
        width: 90%;
    }

    main>section:first-child {
        margin: 1px;
        padding: 0px;
    }

    main>section:first-child>.input-texto {
        margin: 1vh;
        height: 15vh;
        
    }
    .mensagem {
        background: none;
        width: 100%;
        margin: auto;
        background-repeat: no-repeat;
    }

    textarea.mensagem {
        font-size: medium;
        height: 15vh;
    }

    /* CSS dos botoes */
    .botoes {
        all: unset;
    }

    .encriptar,  .desencriptar {
        display: block;
        margin: 1vh;
    }   

    button.copiar { 
        text-align: center;
        margin: -10px;
    }

    button {
        text-align: center;
        margin: 5vw;
        padding: 0;
        width: 80%;
    }
    
    body>footer {
        width: 101vw;
        padding: 1vh;
        text-align: center;

    }

    /* CSS do rodapé */

}
