* {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    box-sizing: border-box;
}

header {
    margin-top: 5vh;
    margin-left: 1vw;
}

body {
    width: 80%;
    background-color: #F3F5FC;
    margin: auto;
}

main {    
    display: flex;
    margin-left: 80px;
    margin-bottom: 50px;
}

.input-texto, .input-texto::placeholder {
    all: unset;
    margin-top: 90px;
    color: darkblue;
    
}

/* CSS da caixa de resultado */
.mensagem {
    all: unset;
    resize: none;
    position: relative;
    margin-top: 20px;
    margin-left: 45px;
    margin-right: 45px;
    background-image: url("resultado.png");
    background-repeat: no-repeat;
    text-align: center;
}

main>section:last-child {
    background-color: white;
    border-radius: 30px;
    box-shadow: 1px 1px 3px 1px lightgrey;
    text-align: center;
    width: 25rem;
    margin-top: -40px;
    margin-bottom: 0px;
}

main>section:last-child>h6 {
    font-size: 30px;
    
}
main>section:last-child>p {
    font-size: 20px;
}

.informacao {
    font-size: 150px;
}

div.informacao>h6 {
    display: inline;
    font-size: 1rem;
    padding: auto;

}

/* CSS dos botoes */
.botoes {
    display: flex;
    flex-direction: row;
    margin: 20px;
}

button {
    border-radius: 15vw;
    width: 17vw;
}
button:active {
    color: lime;
    font-weight: bold;     
    text-shadow:0 0 60px green;
}

button:hover {
    border: 1px solid green;
    box-shadow: 1px 1px 1px goldenrod;
}


.encriptar {
    background-color: darkblue;
    color: white;
    width: auto
}

.desencriptar {
    margin-left: 30px;
    color: darkblue;
    width: auto;
}

.copiar {
    width: 100%;
}

a:hover {
    box-shadow: 1px 1px 1px 1px darkblue;
    border-radius: 50%;
}

/* CSS do rodapé */
footer {
    display: block;
    text-align: center;
}
